@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 3s linear infinite; /* Adjust the time for desired rotation speed */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }